<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;700;900&display=swap');
</style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

// 導覽列
#navigation {   

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    box-shadow: 0 5px 5px rgb(0,0,0,0.1);

    .social {

        img {
            filter: invert(98%) sepia(2%) saturate(43%) hue-rotate(356deg) brightness(109%) contrast(87%);
            transition: 0.6s;

            &:hover {
                filter: invert(71%) sepia(74%) saturate(284%) hue-rotate(127deg) brightness(103%) contrast(95%);
            }
        }
    }
}
